
resources:
- type: vm.jinja
  name: rz-stack
  properties:
    machineType: {{ .MachineType }}
    zone: {{ .Zone }}

- type: registry.jinja
  name: rz-registry
  properties:
    projectNumber: {{ .ProjectNumber }}
    zone: {{ .Zone }}


