
resources:
- name: {{ env['project'] }}-compute
  type: compute.v1.instance
  properties:
    zone: {{ properties['zone'] }}
    machineType: zones/{{ properties['zone'] }}/machineTypes/{{ properties['machineType'] }}
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        diskSizeGb: 10
        sourceImage: projects/coreos-cloud/global/images/family/coreos-stable
    networkInterfaces:
    - network: global/networks/default