resources:
  - type: sqladmin.v1beta4.instance
    name: '{{ .name }}'
    properties:
      region: '{{ .region }}'
      databaseVersion: '{{ .db_version }}'
      instanceType: CLOUD_SQL_INSTANCE
      backendType: SECOND_GEN
      settings:
        tier: '{{ .tier }}'
        backupConfiguration:
          enabled: false
          binaryLogEnabled: false
        ipConfiguration:
          ipv4Enabled: true
          requireSsl: true
        dataDiskSizeGb: 10
        dataDiskType: PD_SSD
        activationPolicy: '{{ .activation_policy }}'
        locationPreference:
          zone: {{ .zone }}

  - type: sqladmin.v1beta4.database
    name: {{ .name }}-database
    properties:
      name: {{ .database }}
      instance: $(ref.{{ .name }}.name)
      charset: utf8mb4
      collation: utf8mb4_general_ci

  - type: sqladmin.v1beta4.user
    name: {{ .name }}-user
    properties:
      name: {{ .username }}
      password: {{ .password }}
      instance: $(ref.{{ .name }}.name)

outputs:
  - name: EnvMysqlInstance
    value: $(ref.{{ .name }}.name)
  - name: EnvMysqlDatabase
    value: {{ .database }}
  - name: EnvMysqlPassword
    value: {{ .password }}
  - name: EnvMysqlUsername
    value: {{ .username }}
